# Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build files
dist/
build/
.out/
.next/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log
yarn-error.log
!/src/apps/modules/custom-actor-v1/components/PanelCardNewItemEditor.tsx
.env
